.modal {
  margin: 0 auto;
  height: 390px;
  width: 500px;
  background: #FCFDFE;
  border: solid 1px;
  margin-top: 30px;
}

#orderButton {
  margin-left: 40%;
  margin-top: 30px;
  height: 30px;
  width: 250px;
  border-radius: 6px;
  background: #0B1A3B;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#formHeading {
  background: #0B1A3B;
  color: #FCFDFE;
  overflow: auto;
}
#formHeading h3 {
  margin-left: 30px;
  font-family: 'Open Sans', sans-serif;
}
#form {
  overflow: auto;
  height: 250px;
  overflow: scroll;
}
#form h4 {
  margin-left: 30px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
}

#formInput {
  position: relative;
  bottom: 26px;
  left: 200px;
  height: 30px;
  width: 250px;
  border-radius: 6px;
  font-size: 15px;
}
hr {
  margin: 0 auto;
}

#actionBar {
  background: #0B1A3B;
  color: #FCFDFE;
  overflow: auto;
  height:80px;

}

#resetBtn {
  width: 200px;
  height: 40px;
  border-radius: 3px;
  background: #66FFFF;
  margin-top: 20px;
  margin-left: 30px;
}

#okBtn {
  width: 200px;
  height: 40px;
  border-radius: 3px;
  background: #66FFFF;
  margin-top: 20px;
}